@color-green: #1ABC9C;
@color-green-dark: #16A085;
@color-blue: #3498DB;
@color-violet: #9B59B6;
@color-violet-dark: #8E44AD;
@color-red: #E74C3C;
@color-orange: #E67E22;
@color-neutral: #FAFAFA;
@color-border-neutral: #EEE;
@color-white: #FFF;

/** Pills */

.rui-pill {

  color: inherit;
  display: inline;
  padding: 1px 5px;
  border-radius: 2px;
  border: 1px solid #EEE;
  margin: 2px;

}

.rui-pill-theme-base(@color) {
  color: #FFF;
  background-color: lighten(@color,8%);
  border-color: lighten(@color,8%);
}

.rui-pill-green {
  .rui-pill-theme-base(@color-green);
}

.rui-pill-blue {
  .rui-pill-theme-base(@color-blue);
}

.rui-pill-violet {
  .rui-pill-theme-base(@color-violet);
}
.rui-pill-orange {
  .rui-pill-theme-base(@color-orange);
}

.rui-pill-red {
  .rui-pill-theme-base(@color-red);
}

.rui-pill-large {
  font-size: 14px;
  padding: 2px 8px;
}

/** End Pills */


/** Buttons */

.rui-btn {
    color: inherit;
    border: 1px solid @color-border-neutral;
    background: #FFF;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.45;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

.rui-btn.disabled,.rui-btn[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: .65;
}

.rui-btn:hover {
    background: darken(#FFF,5%);
}

.rui-btn-theme(@color) {
    color: #FFF;
    font-weight: 700;
    background: @color;
    border-color: darken(@color,2%);
}
.rui-btn-theme-hover(@color) {
    background: darken(@color,2%);
}
.rui-btn-green {
    .rui-btn-theme(@color-green);
}

.rui-btn-green:hover {
    .rui-btn-theme-hover(@color-green)
}

.rui-btn-blue {
    .rui-btn-theme(@color-blue);
}

.rui-btn-blue:hover {
    .rui-btn-theme-hover(@color-blue)
}

.rui-btn-violet {
    .rui-btn-theme(@color-violet);
}

.rui-btn-violet:hover {
    .rui-btn-theme-hover(@color-violet)
}

.rui-btn-orange {
    .rui-btn-theme(@color-orange);
}

.rui-btn-orange:hover {
    .rui-btn-theme-hover(@color-orange)
}


.rui-btn-red {
    .rui-btn-theme(@color-red);
}

.rui-btn-red:hover {
    .rui-btn-theme-hover(@color-red)
}


.rui-btn-group-active-violet {
    .rui-btn-theme(@color-violet-dark);
}

/** End Buttons */


/** Tabs */
.rui-tabset {
}

.rui-tabset-c {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.rui-tabset-ctrl {

  cursor: pointer;
  padding: 6px 14px;
}
.rui-tabset-ctrl-material {
  flex: 1;
  text-align: center;
}

.rui-tabset-ctrl-material-active {
  border-top: 1px solid @color-green;
  border-bottom: 1px solid @color-green;
}

.rui-tabset-ctrl-material-inactive {
  border-top: 1px solid @color-neutral;
  border-bottom: 1px solid @color-neutral;
  border-right: 1px solid @color-neutral;
}
.rui-tabset-ctrl-classic {
  border-top: 1px solid @color-neutral;
  border-right: 1px solid @color-neutral;
}

.rui-tabset-ctrl-classic-inactive {
  border-top: 1px solid @color-neutral;

}

.rui-tabset-ctrl-pills {
  border-radius: 18px;
  margin: 4px;
}

.rui-tab-active {
  font-weight: bold;
  color: #FFF;
  background: @color-green;
}

.rui-tab-inactive {
  color: darken(@color-neutral,50%);
}

.rui-tab-c {
  padding: 10px;
  border-top: 1px solid #EEE;
}

/* End Tabs */
