@color-green: #1ABC9C;
@color-green-dark: #16A085;
@color-blue: #3498DB;
@color-violet: #9B59B6;
@color-violet-dark: #8E44AD;
@color-red: #E74C3C;
@color-orange: #E67E22;
@color-neutral: #FAFAFA;
@color-border-neutral: #EEE;
@color-white: #FFF;


html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/** Pills */

.rui-pill {

  color: inherit;
  display: inline;
  padding: 1px 5px;
  border-radius: 2px;
  border: 1px solid #EEE;
  margin: 2px;

}

.rui-pill-theme-base(@color) {
  color: #FFF;
  background-color: lighten(@color,8%);
  border-color: lighten(@color,8%);
}

.rui-pill-green {
  .rui-pill-theme-base(@color-green);
}

.rui-pill-blue {
  .rui-pill-theme-base(@color-blue);
}

.rui-pill-violet {
  .rui-pill-theme-base(@color-violet);
}
.rui-pill-orange {
  .rui-pill-theme-base(@color-orange);
}

.rui-pill-red {
  .rui-pill-theme-base(@color-red);
}

.rui-pill-large {
  font-size: 14px;
  padding: 2px 8px;
}

/** End Pills */

/** Panels */
.rui-panel-c {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
}

.rui-panel-close {

}

.rui-panel-collapsable {

}

.rui-panel-control {
    color: #AAA;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
}

.rui-panel-control:hover {
    color: #555;
}

.rui-panel-header {
    display: flex;
    padding: 10px;
    border: 1px solid #eee;
}

.rui-panel-title {
    font-weight: bold;
    color: #138a72;
}

.rui-panel-controls {
    margin-left: auto;
}

.rui-panel-body {
    padding: 10px;
    border: 1px solid #eee;
    border-top: none;
    overflow: auto;
}
/** End panels */


/** Buttons */

.rui-btn {
    color: inherit;
    border: 1px solid @color-border-neutral;
    background: #FFF;
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 700;
}

.rui-btn.disabled,.rui-btn[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: .65;
}

.rui-btn:hover {
    background: darken(#FFF,5%);
}

.rui-btn-theme(@color) {
    color: #FFF;

    background: @color;
    border-color: darken(@color,2%);
}
.rui-btn-theme-hover(@color) {
    background: darken(@color,2%);
}
.rui-btn-green {
    .rui-btn-theme(@color-green);
}

.rui-btn-green:hover {
    .rui-btn-theme-hover(@color-green)
}

.rui-btn-blue {
    .rui-btn-theme(@color-blue);
}

.rui-btn-blue:hover {
    .rui-btn-theme-hover(@color-blue)
}

.rui-btn-violet {
    .rui-btn-theme(@color-violet);
}

.rui-btn-violet:hover {
    .rui-btn-theme-hover(@color-violet)
}

.rui-btn-orange {
    .rui-btn-theme(@color-orange);
}

.rui-btn-orange:hover {
    .rui-btn-theme-hover(@color-orange)
}


.rui-btn-red {
    .rui-btn-theme(@color-red);
}

.rui-btn-red:hover {
    .rui-btn-theme-hover(@color-red)
}

.rui-btn-group {
    display: inline-block;
}

.rui-btn-group-active-violet {
    .rui-btn-theme(@color-violet-dark);
}

/** End Buttons */


/** Tabs */
.rui-tabset {
}

.rui-tabset-c {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.rui-tabset-ctrl {

  cursor: pointer;
  padding: 6px 14px;
}
.rui-tabset-ctrl-material {
  flex: 1;
  text-align: center;
}

.rui-tabset-ctrl-material-active {
  border-top: 1px solid @color-green;
  border-bottom: 1px solid @color-green;
}

.rui-tabset-ctrl-material-inactive {
  border-top: 1px solid @color-neutral;
  border-bottom: 1px solid @color-neutral;
  border-right: 1px solid @color-neutral;
}
.rui-tabset-ctrl-classic {
  border-top: 1px solid @color-neutral;
  border-right: 1px solid @color-neutral;
}

.rui-tabset-ctrl-classic-inactive {
  border-top: 1px solid @color-neutral;

}

.rui-tabset-ctrl-pills {
  border-radius: 18px;
  margin: 4px;
}

.rui-tab-active {
  font-weight: bold;
  color: #FFF;
  background: @color-green;
}

.rui-tab-inactive {
  color: darken(@color-neutral,50%);
}

.rui-tab-c {
  padding: 10px;
  border-top: 1px solid #EEE;
}

/* End Tabs */

/** List */

.rui-list-float {
  position: absolute;
}
.rui-list-c {
  border: 1px solid @color-border-neutral;
  background: #FFF;
}
.rui-li {
  padding: 8px 20px;
  cursor: pointer;
}

.rui-li:hover {
  background: darken(@color-neutral,5%);
}

.rui-li-scheme(@color) {

}
.rui-li-scheme-hover(@color) {
  background: @color;
  color: #FFF;
}

.rui-li-green {
  .rui-li-scheme(@color-green)
}
.rui-li-blue {
  .rui-li-scheme(@color-blue)
}

.rui-li-green:hover {
  .rui-li-scheme-hover(@color-green);
}

.rui-li-blue:hover {
  .rui-li-scheme-hover(@color-blue);
}
/** End List */

/** Side Nav */


.rui-snav-base() {
  cursor: pointer;
  border-left: 4px solid transparent;
  font-weight: bold;
}

.rui-snav-active-bg() {
  background: #2c3e50;
}

.rui-snav-grp {
  .rui-snav-base();
  padding: 12px 10px;
  font-weight: bold;
}


.rui-snav-item {
  .rui-snav-base();
  padding: 12px 10px;
}

.rui-snav-grp-c {

}

.rui-snav-active {
  .rui-snav-active-bg();
  border-left: 4px solid #2ecc71;

}
.rui-snav-item:hover {
  .rui-snav-active-bg();
}

.rui-snav-grp:hover {
  .rui-snav-active-bg();
}

.rui-snav-items {
  overflow: hidden;
  transition: height 0.15s ease-out;
}
.rui-snav-grp-c > .rui-snav-items > .rui-snav-item {
  padding-left: 32px;
}
.rui-snav-grp-c > .rui-snav-items > .rui-snav-item:hover {

}

/** End SideNav */


/* forms */
.rui-form-cont {
  margin-bottom: 8px;
}
.rui-form-cont > label {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 120%;
  display: inline-block;
}


.rui-form-cont > .rui-input-block {
  display: block;
}

.rui-form-cont > .rui-input-inline {
  display: inline-block;
}
.rui-form-block > div > input:focus,.rui-form-block > div > select:focus  {
  border: 1px solid #33C3F0;
  outline: 0;
}

.rui-form-block > div > label {
  font-weight: bold;
  margin-bottom: 4px;
  display:block;
}

.rui-form-container {
  padding: 10px;
}

.rui-form-column {
  flex-direction: column;
}

.rui-form-input {
  height: 32px;
  padding: 2px 8px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 1px;
  box-shadow: none;
  box-sizing: border-box;

}


.rui-form-ac-cont > input:focus {
  outline: none !important;
}

.rui-form-ac-cont > input {
  max-width: 100%;
  max-height: none;
  min-height: 0;
  padding: 0;
  margin: 0 1px;
  line-height: inherit;
  text-indent: 0;
  background: none;
  border: 0 none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: auto;
}

.rui-form-ac-result {
    cursor: pointer;
}
.rui-form-ac-result:hover {
    background: #EEE;

}
.rui-form-ac-cont.formx-input {
  cursor: text;
}

.rui-form-ac-result-cont {
    background: #FFF;
}
/* end forms */


/** datagrid */


.rui-dt {
    position: relative;
}
.rui-dt-container {
    border-top: 1px solid #EEE;
    border-left: 1px solid #EEE;
    position:relative;
}
.rui-dt-colgroup {
}
.rui-dt-colcont {
    /* display: table-row; */
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
.rui-dt-cell-cont {
    padding: 6px;
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;

}
.rui-dt-rowgroup {

}
.rui-dt-rowcont {
    /* display: table-row; */
    display: flex;
    flex-direction: row;
}

.rui-dg {
  position: relative;
  display: flex;
  border-top: 1px solid #EEE;
  border-left: 1px solid #EEE;
  border-bottom: 1px solid #EEE;

}

.rui-dg-main {
  display: flex;
  flex-direction: column;
}

.rui-dg-vscroller {
  flex-direction: column;
  flex: 0 0 16px;
}

.rui-dg-row {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid #EEE;
}

.rui-dg-cell-cont {
  display: flex;
  flex: auto;
  border-right: 1px solid #EEE;
  position: relative;
}


.rui-dg-cell {
  padding: 4px;
}

.rui-dg-hcell {
  font-weight: bold;
}
.rui-dg-rcell {

}



/** end datagrid */


/** portlet */

.rui-portlet-title-cont {
    float:left;
    font-weight: 400;
    line-height:28px;
    display:inline-block;
    padding:0px;
}

.rui-portlet-container {
    padding: 10px;

}
.rui-portlet-title-icon {
    padding-right: 4px;
    color: #999;
    font-size:14px;
    line-height:18px;
    -webkit-font-smoothing: antialiased;
}
.rui-portlet-container {
    background-color: #FFF;
    border-top: 4px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
    margin-left: 10px;
    margin-right: 10px;
}
.rui-portlet-header {
    overflow: auto;
    /* padding-bottom: 10px; */
    border-bottom: 1px solid #EEE;
}

.rui-portlet-toolbox {
    display: inline-block;
    float: right;
    margin-top: 0;
    position: relative;
    padding: 0px 0px 0px 0px;
    line-height:28px;

}

.rui-portlet-toolbox > a {
    margin-left: 5px;
    color: #c4c4c4;
    cursor: pointer;
}

.rui-portlet-header .rui-portlet-title {
    font-size: 16px;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    vertical-align: middle;
}
.rui-portlet-title {
    color: #4DB3A2 !important;
}
.rui-portlet-body {
    padding: 20px 0;
}

.rui-portlet-subtitle {
    font-size: 100%;
    padding-left: 5px;
    color: #999;
}


/** end portlet */

.rui-arrow-down-inactive {
   border-top: 5px solid #555;
}

.rui-arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  cursor: pointer;
}
